<div id="countySelectionModal" class="modal-fullscreen modal fade" tabindex="-1" role="dialog" aria-labelledby="countySelectionModalLabel" role="dialog">
    <div class="modal-dialog" style="background-color: #009577; color:#ffffff">

        <!-- Modal content-->
        <div class="modal-content" style="background-color: #009577;border-bottom:#009577">
            <div class="modal-header" style="background-color: #009577; border-bottom: #009577">
                <div class="modal-title">
                    <img height="67" width="200" src="~/Content/Images/AVIATOR_Logo_WHITE.png" />
                </div>
            </div>
            <center>
                <div class="modal-body" style="background-color: #009577; color: #ffffff; border-bottom: #009577">
                    <h1>If this is an emergency, please call 911</h1>
                    <br />
                    <br />
                    <h3>Please select a county to optimize your searching</h3>
                    <select id="e2" class="specialDropdown" style="text-align: center; width: 20%"></select>
                    <br />
                    <br />
                    <button id="selectCounty" type="button" class="btn btn-default" style="color: #203444;background-color:#203444" data-dismiss="modal">Let's Get Started!</button>
                    <br />
                    <br />
                    <br />
                    <div>This app is funded through a grant from the Office for Victims of Crime, Office of Justice Programs, U.S. Department of Justice. Neither the U.S. Department of Justice
                        nor any of its components operate, control, are responsible for, or necessarily endorse, this application (including, without limitation, its content, technical infrastructure,
                        and policies, and any services or tools provided). 
                        This app was produced by Family Service Association, Inc. under Grant #2014-VF-GX-K019, awarded by the Office for Victims of Crime,
                        Office of Justice Programs, U.S. Department of Justice. The opinions, findings, and conclusions or recommendations expressed in this app are those of the contributors and do not 
                    necessarily represent the official positions or policies of the U.S. Department of Justice.</div>
                </div>
            </center>
            <div class="modal-footer" style="text-align: center;background-color: #009577; color: #009577; border-bottom: #009577; border-top:#009577">

            </div>
        </div>

    </div>
</div>
