@model System.Collections.Generic.IEnumerable<Website.Models.CrisisContactDisplay>

<form id="searchForm">
    <div class="form">
        <div class="clearfix">
            <div class="pull-left" style="width: 80%">
                <h2>Crisis Contacts Administration</h2>
            </div>
            <div class="pull-right">
                <a href="@Url.Action("Create")" class="headerButton"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div class="form-group">
            <label for="Search">Search Crisis Contact Name:</label> @Html.TextBox("Search", "", new {@class = "form-control"})
        </div>
        <button type="button" id="searchBtn" class="btn btn-primary">Search</button>
    </div>
    <br/>
</form>

<div id="foundItems">
    <div id="results" class="panel panel-info">
        <ul id="contactList" class="list-group"></ul>
    </div>
    <div id="searchSpinner" class="panel-spinner panel-spinner-short"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Remove Crisis Contact
            </div>
            <div class="modal-body">
                Are you sure you want to delete this crisis contact<span id="deleteContactName"></span>? It will be removed permanently.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a id="deleteContactButton" class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/dataEntry")
    <script type="text/javascript">
        $(document).ready(function () {
            //Hide any flash messages
            setTimeout(function () {
                $(".flash-message").fadeOut(1000);
            }, 3000);

            crisisContacts.setupSearch();
        });
    </script>

}