@using System.Web.Mvc.Html
@model Website.Models.ToolViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h3>New Tool</h3>
    Html.RenderPartial("ToolForm", Model);

    <div class="clearfix">
        <div class="pull-left ">
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
        </div>
        <div class="pull-right">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
}

