
@using System.Web.Mvc.Html
@model Website.Models.ToolViewModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h3> Edit Tool</h3>
    Html.RenderPartial("ToolForm", Model);

    <div class="clearfix">
        <div class="pull-left ">
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
        </div>
        <div class="pull-right">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
}
