@model Website.Models.FamilyEditor

@{
    ViewBag.Title = "Create";
}
@{
    string message = TempData["Error"] as string;
    if (!String.IsNullOrEmpty(message))
    {
        <div class="Error" style="color:red">
            <h4>@message</h4>
        </div>
    }
}
<h2>Create new Family</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    Html.RenderPartial("SubCategoriesForm", Model);

    
    <p>Note: Families are inactive by default.</p>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default"/>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}
